body {
  font-family: 'Arimo', sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
header {
  padding-top: 76px;
}
header nav {
  margin-top: 40px;
  align-items: center;
}
header nav ul {
  padding-left: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
header nav ul li {
  list-style-type: none;
  padding-right: 20px;
}
header nav ul li a {
  text-transform: uppercase;
  color: #797878;
  font-size: 16px;
  padding-bottom: 5px;
}
header nav ul li a:hover {
  text-decoration: none;
  color: #020202;
  border-bottom: 2px solid #020202;
}
header nav ul li:last-child {
  padding: 0;
}
main {
  flex: 1;
}
main .container-fluid {
  max-width: 1300px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
}
main .container-fluid .scale {
  margin-bottom: 15px;
  position: relative;
  overflow: hidden;
}
main .container-fluid .scale a img {
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
main .container-fluid .scale:hover img {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
main .container-fluid iframe {
  margin: 5px;
  width: 600px;
  height: 338px;
}
main .container-fluid .photo {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 3px;
}
footer {
  margin-top: 10px;
  text-align: center;
}
footer .social-icons a {
  text-decoration: none;
  color: #797878;
}
footer .social-icons a:visited {
  color: #797878;
  text-decoration: none;
}
footer .social-icons a:hover {
  text-decoration: none;
  color: #020202;
}
footer p {
  font-size: 13px;
  text-transform: capitalize;
}
footer p a.dev {
  text-decoration: none;
  color: #797878;
  padding: 5px;
}
footer p a.dev:hover {
  color: #020202;
  border-bottom: 2px solid #020202;
}
