@import "variable.less";
@import "mixin.less";


body {
  font-family: 'Arimo', sans-serif;
}


header {
  padding-top: 76px;
  nav {
    margin-top: 40px;
    align-items: center;
    ul {
      padding-left: 0;
      display: flex;
      flex-direction: row;
      justify-content: center;
      li {
        list-style-type: none;
        padding-right: 20px;
        a {
          text-transform: uppercase;
          color: #797878;
          font-size: 16px;
          padding-bottom: 5px;
        }
        a:hover {
          text-decoration: none;
          color: #020202;
          border-bottom: 2px solid #020202;
        }
      }
      li:last-child {
        padding: 0;
      }
    }
  }
}
main {
  .container-fluid {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    .scale {
      margin-bottom: 15px;
      position: relative;
      overflow: hidden;
      a {
        img {
          -moz-transition: all 0.3s;
          -webkit-transition: all 0.3s;
          transition: all 0.3s;
        }
      }
    }
    .scale:hover img{
      -moz-transform: scale(1.1);
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
    }
    img.photo {
      margin: 3px;
    }
    iframe {
      margin: 5px;
      width: 600px;
      height: 338px;
    }
  }
}

footer {
  margin-top: 10px;
  text-align: center;
  a {
    text-decoration: none;
    color: #797878;
    margin-right: 10px;
  }
  a:visited {
    color: #797878;
    text-decoration: none;
  }
  a:hover {
    text-decoration: none;
    color: #020202;
  }
  p {
    text-transform: capitalize;
    a.dev {
      text-decoration: none;
      color: #797878;
      padding: 5px;
    }
    a.dev:hover {
      color: #020202;
      border-bottom: 2px solid #020202;
    }
  }
}
