@import "mixin.less";

body {
  font-family: 'Arimo', sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  padding-top: 76px;
  nav.row {
    margin-top: 40px;
    align-items: center;
    ul {
      padding: 0;
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      li {
        list-style-type: none;
        padding-right: 20px;
        a {
          .link;
        }
        a:hover {
          .link-hover;
        }
      }
      li:last-child {
        padding: 0;
      }
    }
  }
}
main {
  flex: 1;
  .container {
    max-width: 1050px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
    .scale {
      margin-bottom: 15px;
      position: relative;
      overflow: hidden;
      a {
        img {
          .transition (0.3s);
        }
      }
    }
    .scale:hover img{
      .transform (1.1);
    }
    iframe {
      margin: 3px;
      width: 497px;
      height: 280px;
    }
    .photo {
      display: block;
      max-width: 100%;
      height: auto;
      margin: 3px;
    }
  }
}

footer {
  margin-top: 10px;
  text-align: center;
  .social-icons {
    a {
      text-decoration: none;
      color: @main-col;
    }
    a:visited {
      color: @main-col;
      text-decoration: none;
    }
    a:hover {
      text-decoration: none;
      color: @hover-col;
    }
  }
  p {
    font-size: 13px;
    text-transform: capitalize;
    a.dev {
      text-decoration: none;
      color: @main-col;
      padding: 5px;
    }
    a.dev:hover {
      color: @hover-col;
    }
  }
  #back-top {
    position: fixed;
    bottom: 30px;
    right: 30px;
    a {
      color: #797878;
      display: block;
      .transition (1s)
    }
    a:hover {
      color: #020202;
    }
  }
}
