@import "variable.less";
@import "mixin.less";


body {
  font-family: 'Arimo', sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  padding-top: 76px;
  nav.row {
    margin-top: 40px;
    align-items: center;
    ul {
      padding-left: 0;
      padding-right: 0;
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      li {
        list-style-type: none;
        padding-right: 20px;
        a {
          text-transform: uppercase;
          color: #797878;
          font-size: 16px;
          padding-bottom: 5px;
        }
        a:hover {
          text-decoration: none;
          color: #020202;
          border-bottom: 2px solid #020202;
        }
      }
      li:last-child {
        padding: 0;
      }
    }
  }
}
main {
  flex: 1;
  .container-fluid .row {
    max-width: 1300px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
    .scale {
      margin-bottom: 15px;
      position: relative;
      overflow: hidden;
      a {
        img {
          -moz-transition: all 0.3s;
          -webkit-transition: all 0.3s;
          transition: all 0.3s;
        }
      }
    }
    .scale:hover img{
      -moz-transform: scale(1.1);
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
    }
    iframe {
      margin: 3px;
      width: 600px;
      height: 338px;
    }
    .photo {
      display: block;
      max-width: 100%;
      height: auto;
      margin: 3px;
    }
  }
}

footer {
  margin-top: 10px;
  text-align: center;
  .social-icons {
    a {
      text-decoration: none;
      color: #797878;
    }
    a:visited {
      color: #797878;
      text-decoration: none;
    }
    a:hover {
      text-decoration: none;
      color: #020202;
    }
  }
  p {
    font-size: 13px;
    text-transform: capitalize;
    a.dev {
      text-decoration: none;
      color: #797878;
      padding: 5px;
    }
    a.dev:hover {
      color: #020202;
      border-bottom: 2px solid #020202;
    }
  }
}
